/**global colors for this app**/
$background: rgb(255, 255, 255);
$primary: rgb(5, 0, 77);
$secondar: rgb(10, 124, 218);

$red: rgb(238, 17, 17);

.reports {
    padding: 10px;
    margin: 0 auto;
    h6 {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 0;
      color: $red;
      width:123px;
      border-radius: 30px;
      border: 1px solid $red;
      padding: 5px 10px;
      background: white;
    }

    .report-item {
        background: lighten($color: $background, $amount: 10%);
        padding: 10px;
        margin-bottom: 10px;
        border-radius: 5px;
        position: relative;
        box-shadow: 0 0 6px $secondar;

        .del {
            border: none;
            background: $primary;
            position:absolute;
            right: 0;
            top: 0;
            cursor: pointer;
            border-radius: 0 0 0 13px;
        }
        h5 {
            border-top: 1px solid darken($color: $background, $amount: 20%);
            border-bottom: 1px solid darken($color: $background, $amount: 20%);
            padding: 15px 2px;
            text-transform: capitalize;
            font-weight: 300;
            font-size: 1.1rem;
            margin: 0;
        }
        

        h3 {
            margin: 0 0 10px;
            color: lighten($color: $primary, $amount: 10%);
          }
        .current-stamp {
            
                color: #716e6e;
                position: absolute;
                right: 5px;
                bottom: 5px;
                font-size: 10px;
            
        }
      }
      .delall {
        border: none;
        cursor: pointer;
      }
      
      
  }
  @media (min-width: 1000px) {
    .reports {
        width: 400px;
    }
}

  