/**global colors for this app**/
$background: rgb(255, 248, 188);
$primary: rgb(83, 42, 42);
$secondar: rgb(156, 148, 69);

p {
    text-align: center;
    color: $primary;
    a {
        color: $secondar;
    }
}