/**global colors for this app**/
$background: rgb(255, 255, 255);
$primary: rgb(5, 0, 77);
$secondar: rgb(10, 124, 218);

p {
    text-align: center;
    color: $primary;
    a {
        color: $secondar;
    }
}