<section class="login">
    <div class="logo">
        <img src='./../../../assets/logo.jpg' alt="Logo" />
        <small>w3earth note</small>
    </div>
    <div class="forms">
        <div class="forms-block">
            <input type="text" name="name" [(ngModel)]="name" placeholder="Enter Your Name" required />
        </div>
        <div class="forms-block center">
            <button (click)="onSubmit($event)">Save & Go </button>
        </div>
        <div class="forms-block center mt-2">
            <div class="small">This is one time process. You need to save your name for the first time.</div>
        </div>
    </div>
</section>