/**global colors for this app**/
$background: rgb(255, 255, 255);
$primary: rgb(5, 0, 77);
$secondar: rgb(10, 124, 218);

.login {
  margin: 45% auto;
  width: 200px;
  .logo {
    padding: 10px;
    height: 100%; // Ensure the parent container takes the full height
    margin: 0;
    display: flex;
    flex-direction: column; // Stack elements vertically
    justify-content: center; // Center vertically
    align-items: center;
    img {
      text-align: center;
    }
    small {
      text-align: center;
      padding: 10px;
      text-shadow: 0 0 5px $secondar;
    }
  }
  .forms {
    .forms-block {
      display: block;
      &.mt-2 {
        margin-top: 2rem;
      }
      .small {
        line-height: 14px;
        font-size: 0.75rem;
        font-style: italic;
        margin: 2% 10px;
      }
      input {
        width: 90%;
        padding: 10px;
        margin: 10px 0;
        text-transform: uppercase;
        border-radius: 5px;
        color: $background;
        background: $primary;
        border: 2px solid $primary;
      }
      button {
        padding: 7px 20px;
        width: 100%;
        border: none;
        cursor: pointer;
        margin-top: 10px;
        font-weight: 100;
        font-size: 1rem;
        text-transform: uppercase;
        background-color: $background;
        border: 2px solid $primary;
        color: $primary;
        border-radius: 5px;
        &:hover {
          background-color: $primary;
          color: $background;
        }
      }
    }
  }
}
