/**global colors for this app**/
$background: rgb(255, 248, 188);
$primary: rgb(83, 42, 42);
$secondar: rgb(156, 148, 69);

section {
    
    
.menulist {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0;
    li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .action {
            background: darken($color: $background, $amount: 15%);
            border-radius: 48%;
            padding: 10px;
            svg {
              color: $primary;
            }
            &:hover {
                background: darken($color: $background, $amount: 10%); 
                svg {
                    opacity: 0.5;
                }
            }
        }
        
    }
}
}