


/**global colors for this app**/
$background: rgb(255, 248, 188);
$primary: rgb(83, 42, 42);
$secondar: rgb(156, 148, 69);

.app {
    // background-color: $background;
    // display: block;
    // height: 100vh;
    // padding: 10px;
}
