<app-menu></app-menu>
<div class="forms">
    <h2>Welcome <span class="usernameTitle">{{name}}</span>!</h2>
    <form (submit)="onSubmit($event)">
        <div class="forms-block">
            <input id="title" type="text" name="title" [(ngModel)]="note.title" placeholder="Enter Title of Your Note!" required />
        </div>
        <div class="forms-block">
            <textarea id="details" name="details" [(ngModel)]="note.details" placeholder="Enter Details of your note" required></textarea>
        </div>
        <div class="forms-block">
            <input id="dateTime" type="datetime-local" name="dateTime" placeholder="Select Date" [(ngModel)]="note.dateTime" required />
        </div>
        <div class="forms-block">
            <button type="submit">Save</button>
        </div>
    </form>
</div>
