/**global colors for this app**/
$background: rgb(255, 255, 255);
$primary: rgb(5, 0, 77);
$secondar: rgb(10, 124, 218);


.forms {
  padding: 10px;
  margin: 0 auto;
  height: 100vh;
  .forms-block {
    display: block;
    margin-top: 0;
    label {
      font-size: 1rem;
      color: #8f8f8f;
      display: block;
    }
    input {
      width: 90%;
      padding: 10px;
      margin: 10px 0;
      border: 1px solid #ccc;
      border-radius: 5px;
    }
    textarea {
      width: 90%;
      padding: 10px;
      margin: 10px 0;
      border: 1px solid #ccc;
      border-radius: 5px;
    }
    button {
      padding: 7px 20px;
      width: 100%;
      border: none;
      cursor: pointer;
      margin-top: 10px;
      font-weight: 100;
      font-size: 1rem;
      text-transform: uppercase;
      background-color: $background;
      border: 2px solid $primary;
      color: $primary;
      border-radius: 5px;
      &:hover {
        background-color: $primary;
        color: $background;
      }
    }
  }
}

@media (min-width: 1000px) {
  .forms {
    width: 400px;
  }
}
